/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';
@import 'responsive_styles';
@import 'setup';
@import 'grid';

/* END: Imports */


/**
 * =========================================
 * Global Styles
 * =========================================
 */

 * {
     margin:0; padding:0;

     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }

 html{ 
   overflow: scroll;
   background: #040406;
}

 body{ 
   height: 100%;
   width: 100%; 
   background: url(../img/assets/bg-tile-01.png) 50% 0% repeat-x;
 }

 a{ 
   text-decoration: none; 

    &:hover{ }
  }

 p{ 

 }

 ul{ list-style:none; }

 hr{ 
    @include full;
  }


 h1, h2, h3, h4, h5, h6{

 }

 table tr{  }

 ::selection{ background: black; color:white;  }

 /* END: Global Styles */


 /**
  * =========================================
  * Utility Classes
  * =========================================
  */

 .clear{ clear: both; }
 .left{  float: left; }
 .right{ float: right; }

 .ol-disc{ 
   list-style: disc;
   content: "\2022";
   padding-left: 20px;
  }

 /* END: Utility Classes */


 /**
  * =========================================
  * Navigation
  * =========================================
  */

  .navigation-container{ 
    display: block;
    height: 125px;
    width: 100%; 
    
    .navigation-content{
      height: 100%; 
      width: 100%; 
      position: relative; 
    }

    .nav-logo-container{
      position: relative;
      float: left; 
      height: 100%; 
      width: 535px; 
      margin-left: -150px; 
      background: url(../img/assets/nav-gold.png); 
    }

    .nav-info-container{
      display: block;
      position: absolute;
      right: 0; 
      top: 30px; 

      .nav-info-name{
        font-family: 'Montserrat';
        text-transform: uppercase; 
        font-size: 1.6875rem; 
        color: $gold; 
        letter-spacing: 7px; 
        text-align: right; 
        font-weight: 800;
      }

      .nav-info-title{
        padding-right: 5px; 
        font-family: 'Montserrat';
        font-size: 0.75rem; 
        color: $grey; 
        letter-spacing: 1.5px;
        text-align: right; 
        font-weight: 800; 
      }
    }

    .nav-logo{
      position: absolute; 
      top:5px; 
      left:150px; 
      height: 104px;
      width: 127px;
      background: url(../img/assets/nav-icon.png) no-repeat; 
    }
  }

  .mobile-nav-container{ display: none; }

  .nav-link-container{
    height: 100%;
  }

  #navigation-links{
    float: right; 
    height: 100%; 

    li{
      height: 100%;
      display: flex;  
      float: left; 
      margin-left: 30px; 

      a{
        @include transition;
        justify-content: center;
        align-self: center; 

        position: relative;
        padding-bottom: 8px; 

        font-family: 'Montserrat';
        text-transform: uppercase;
        color: $grey;
        font-weight: 800;
        font-size: 1rem;
        letter-spacing: 0.125rem; 

        &:after, &:before{
          @include transition;
          content:" ";
          width:0px;
          position:absolute;
          border :0px solid #fff;          
        }
        
        &:before{
          bottom:-1px;
          right:-1px;
          border-bottom:4px solid white;          
        }

        &:hover{
          @include transition;
          border-top-right-radius:0px;
          border-bottom-left-radius:0px;
          color: white !important;

          &:before,&:after{
              width:25px;
              height:100%;
              // border-color:white;
          }
        }
      }
    }
  }


  .active{
    color: $gold !important;

    &:before{
      width:25px !important;
      height:100%;
      bottom:-1px;
      right:-1px;
      border-bottom:4px solid white !important;
    }
  }

  // .acitve, .navlink:hover{ color: white !important; }

/* END: Navigation */


 /**
  * =========================================
  * Elements
  * =========================================
  */ 

  .divider-main{
    @include full; 
    height: 60px;
    background: url(../img/assets/div.png) no-repeat; 
    margin-bottom: -30px; 
  }

/* END: Elements */


  
    
/**
 * =========================================
 * Footer
 * =========================================
 */


/* END: Footer */
